<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SensicSwiftPackage-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SensicSwiftPackageAVPlayerGoogleAds.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SensicSwiftPackageAgentOnly.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SensicSwiftPackageBitmovin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>s2s-sdk-tvos-package-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>s2s_sdk_tvos-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>s2s_sdk_tvos_agent_only.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>s2s_sdk_tvos_avplayer_googleAds.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>s2s_sdk_tvos_bitmovin.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>SensicSwiftPackageAgentOnly</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SensicSwiftPackageBitmovin</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SensicSwiftPackageTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>s2s-sdk-tvos-package</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>s2s_sdk_tvos_agent_only</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>s2s_sdk_tvos_avplayer_googleAds</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>s2s_sdk_tvos_bitmovin</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
